@model Dto.LoginDto

@{
    ViewData["Title"] = "Credenciales incorrectas";
}

<h1>Acceso denegado</h1>

<h4>Credenciales incorrectas</h4>
<hr />


<div>
    <a asp-action="Index" class="btn btn-primary">Vuelta al login</a>
</div>



